// Name:                      Table
//
// Description:               Define style for table
//
// Component:                `.mui-table`

//
// =============================================================================



/* ==========================================================================
   Component: Table
 ============================================================================ */

/*table {
    max-width: 100%;
    background-color: $table-bg;
    empty-cells: show;

    code {
        white-space: normal;
    }
}*/



.#{$namespace}table {
          width: 100%;
          border-spacing: 0;
          border-collapse: separate;

          > thead,
          > tbody,
          > tfoot {
              > tr {
                  > th,
                  > td {
                      padding: $table-cell-padding;
                      line-height: $table-line-height;
                      vertical-align: top;
                      border-top: 1px solid $table-border-color;
                  }
              }
          }

          // Bottom align for headings
          > thead > tr > th {
              text-align: left;
              vertical-align: bottom;
              border-bottom: 1px solid $table-border-color;
          }

          // Remove top border from thead
          > caption + thead,
          > colgroup + thead,
          > thead:first-child {
              > tr:first-child {
                  > th,
                  > td {
                      border-top: 0;
                  }
              }
          }

          // multiple tbody
          > tbody + tbody {
              tr:first-child {
                  td {
                      border-top: 2px solid $table-border-color;
                  }
              }
          }
      }


/* Bordered version */
.#{$namespace}table-bordered {
          border: 1px solid $table-border-color;
          border-left: none;

          > thead,
          > tbody,
          > tfoot {
              > tr {
                  > th,
                  > td {
                      border-left: 1px solid $table-border-color;

                      // 避免有 rowspan 的时候后面的行没有左边框
                      /*&:first-child {
                        border-left: none;
                      }*/
                  }
              }
          }

          // fixes #566
          > tbody > tr:first-child {
              > th,
              > td {
                  border-top: none;
              }
          }

          > thead {
              & + tbody {
                  > tr:first-child {
                      > th,
                      > td {
                          border-top: 1px solid $table-border-color;
                      }
                  }
              }
          }
      }


/* Border-radius version */

.#{$namespace}table-radius {
          border: 1px solid $table-border-color;
          // box-shadow: 0 0 1px $gray-light;
          border-radius: $border-radius;

          > thead {
              > tr:first-child {
                  > th:first-child,
                  > td:first-child {
                      border-top-left-radius: $border-radius;
                      border-left: none;
                  }

                  > th:last-child,
                  > td:last-child {
                      border-top-right-radius: $border-radius;
                      border-right: none;
                  }
              }
          }

          > tbody {
              > tr {
                  > th:first-child,
                  > td:first-child {
                      border-left: none;
                  }

                  > th:last-child,
                  > td:last-child {
                      border-right: none;
                  }
              }

              > tr:last-child {
                  > th,
                  > td {
                      border-bottom: none;
                  }

                  > th:first-child,
                  > td:first-child {
                      border-bottom-left-radius: $border-radius;
                  }

                  > th:last-child,
                  > td:last-child {
                      border-bottom-right-radius: $border-radius;
                  }
              }
          }
      }


/* Zebra-striping */

.#{$namespace}table-striped > tbody > tr:nth-child(odd) {
          > td,
          > th {
              background-color: $table-bg-striped;
          }
      }


/* Hover effect */

.#{$namespace}table > tbody > tr:active {
    background-color: $table-bg-hover;
          > td,
          > th {
              background-color: $table-bg-hover;
          }
      }


// Modifiers: compact
// =============================================================================

.#{$namespace}table-compact {
          > thead,
          > tbody,
          > tfoot {
              > tr {
                  > th,
                  > td {
                      padding: $table-cell-padding-compact;
                  }
              }
          }
      }


// Modifiers: centered
// =============================================================================

.#{$namespace}table-centered {
          > thead,
          > tbody,
          > tfoot {
              > tr {
                  > th,
                  > td {
                      text-align: center;
                  }
              }
          }
      }

